[Unit]
Description=Mirte ROS
After=network.target
After=ssh.service
After=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=always
RestartSec=5s
User=mirte 
ExecStart=/usr/local/src/mirte/mirte-install-scripts/services/mirte_ros.sh minimal_master
TimeoutStopSec=5s
#Need to be done due to bug https://github.com/RobotWebTools/rosbridge_suite/issues/1024

[Install]
WantedBy=multi-user.target
