[Unit]
Description=MIRTE password change HTTP service
After=network.target

[Service]
Type=simple
# Locked user accounts cannot be accessed with su.
User=root
ExecStart=/usr/bin/python3 /usr/local/src/mirte/mirte-install-scripts/sites/password/change_password.py
Restart=on-failure

[Install]
WantedBy=multi-user.target