[Unit]
Description=Mirte VScode
After=network.target
After=ssh.service
After=network-online.target

[Service]
User=mirte
ExecStart=/bin/bash -c "/home/mirte/code serve-web --without-connection-token --host 127.0.0.1 --port 9000"
# Nginx will protect it by requiring a password and requiring accepting the license.
[Install]
WantedBy=multi-user.target
