[Unit]
Description=Mirte VScode
After=network.target
After=ssh.service
After=network-online.target

[Service]
User=root
ExecStart=/bin/bash -c "cd /usr/local/src/mirte/mirte-install-scripts/pam/password_manager/ && python3 manager.py"
[Install]
WantedBy=multi-user.target
